// colors
$background-color: #EEE;
$separator-color: #DDD;

$primary-color: #1469b3;
$secondary-color: #df623b;
$active-background-color: #e3ebf2;

$gray-lighter: #F5F5F5;
$gray-lighter-border: #E5E3E3;
$gray-light: #CDCDCD;
$gray: #BCBCBC;
$gray-text: #ABABAB;
$gray-dark: #444444;
