@use "colors" as *;

// Other variables
$navigation-width-open: 240px;
$navigation-width-close: 100px;

$button-height: 24px;

// variable components
$height-header: 6rem;

// variable animations
$animation-timing: 0.25s;

/// separators
$separator: 1px solid $separator-color;

// screen sizes
$width-small-screen-px: 800;
$width-medium-screen-px: 1150;

$app-max-width: 1200px;
